<h1> Creating a new comment for <%=@post.title%> </h1>

<%=form_with(model: [@post, @comment])  do |f| %>
  <%= f.label :Description %>
  <%= f.text_field :description %>


  <%= f.submit %>
<% end %>
